body {
    height: 100%;
    width: 100%;
}

section {
    display: block !important;
}

/* navbar */
#mainNav {
    background-color: transparent;
    padding: 0 15px;
    font-weight: bold;
    height: 90px;
    -webkit-transition-duration: 700ms;
    transition-duration: 700ms;
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
    background-color: rgb(74, 13, 143);
    background: -moz-linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
    background: -webkit-linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
    background: linear-gradient(135deg, rgb(74, 13, 143) 0%, rgb(250, 42, 143) 100%);
    -webkit-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a:focus {
    color: rgb(0, 60, 172);
    text-decoration: none;
    background-color: #e6e6e6 !important;
    outline: 0
}

#nav .nav-link {
    color: #fff;
    display: block;
    font-size: 15px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    padding: 0 15px;
}

.dropdown-menu.show {
    border: none;
    box-shadow: 3px 5px 12px rgba(0, 0, 0, 0.15);
}

.dropdown-item {
    font-size: 14px;
    font-weight: 700;
    color: #9597a6;
}

#nav .nav-link:hover,
#nav .nav-item.active .nav-link,
.dropdown-item:hover {
    color: #003ecf;
}

.navbar-nav {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

/* Sticky CSS */

.nav-menu.sticky {
    background-image: linear-gradient(to top, #4973d6, #4c78e0, #507dea, #5383f5, #5788ff) !important;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    position: fixed;
    top: 0;
    height: 70px !important;
    opacity: .95;
    z-index: 999;
}

@media (min-width: 320px) and (max-width:990px) {
    .nav-menu {
        padding: 0;
        height: 198px !important;
    }

    .sticky .navbar-toggler {
        margin: 11px 0;
    }

    .nav-menu.sticky .navbar {
        height: 70px;
    }

    #nav .nav-link {
        font-size: 14px;
        padding: 6px 0;
    }

}

@media (max-width: 767px) {}

/* end of nav bar */
/* ================================================================================================================================= */

ul {
    padding-left: 20px;
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    text-decoration: none;
    color: white;
}

.text-white a {
    color: white;
    margin: 0 5px;
}

.text-white a {
    color: white;
    text-decoration: none;
}

.slogan {
    font-family: 'Courgette', cursive;
    font-size: 25px;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../image/bg-pattern.png");
}

.upper-content-shadow {
    -webkit-box-shadow: 0px 0px 33px 11px rgba(0, 0, 0, 0.71) !important;
    -moz-box-shadow: 0px 0px 33px 11px rgba(0, 0, 0, 0.71) !important;
    box-shadow: 0px 0px 33px 11px rgba(0, 0, 0, 0.71) !important;
}

.page-title .title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #8790af;
    font-weight: 600;
}

.page-title .title:before,
.page-title .title:after {
    content: '';
    width: 50px;
    height: 1px;
    display: inline-block;
    background-color: #8790af;
    margin: 0 15px;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}

/* Setting for padding */
.section_padding_100_0 {
    padding: 100px 0 0 0 !important;
}

/* End of setting for padding */
/* ================================================================================================================================== */
/* -------------------------
:: 8.0 Portfolio Area for 
    index and industries
------------------------- */

.portfolio-menu {
    margin-bottom: 100px;
    margin-top: -10px;
}

.portfolio-menu>p {
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-bottom: 0;
}

.portfolio-menu>p:hover {
    color: #4a7aec;
}

.single_gallery_item {
    width: 20%;
    display: inline-block;
    float: left;
    z-index: 3;
    position: relative;
    overflow: hidden
}

.single_gallery_item>img {
    width: 100%;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_gallery_item:hover>img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="8" /></filter></svg>#filter');
    -webkit-filter: blur(8px);
    filter: blur(8px);
    filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=8);
}

.gallery-hover-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    left: 0;
    top: 0;
    background-color: rgba(74, 122, 236, 0.85);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_gallery_item:hover .gallery-hover-overlay {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
}

.port-hover-text h2 {
    color: #fff;
    margin-bottom: 10px;
}

.port-hover-text>a {
    color: #fff;
    font-size: 15px;
}

.mosh-portfolio {
    margin: 50px 0;
}

/* End of portfolio area */
/* =================================================================================================================================== */
/* Info board */
.sub-body {
    padding: 100px;
    -webkit-box-shadow: inset 0px 29px 33px -20px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: inset 0px 29px 33px -20px rgba(0, 0, 0, 0.71);
    box-shadow: inset 0px 29px 33px -20px rgba(0, 0, 0, 0.71);
}

.relative {
    position: relative;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.about-content {
    margin-top: 120px;
    padding: 120px 0px;
    text-align: center;
}

.about-content h1 {
    font-size: 48px;
    font-weight: 600;
    text-shadow: 4px 4px 5px rgba(30, 30, 30, 1);
}

hr.style-up {
    height: 10px;
    width: 200px;
    margin: 10 auto;
    border: 0;
    box-shadow: 0 -10px 15px -10px purple inset;
}

hr.style-down {
    height: 10px;
    width: 200px;
    margin: 10 auto;
    border: 0;
    box-shadow: 0 10px 15px -10px purple inset;
}

hr.style-aline {
    height: 10px;
    width: 70px;
    margin: 10px auto 10px auto;
    border-width: 4px;
    border-color: purple;
}

/*-- Contact Us boxes and icon --*/

.footer-box {
    text-align: center;

}

.footer-box .box-icon,
.box-icon {
    width: 75px;
    height: 75px;
    margin: auto auto 30px auto;
    text-align: center;
    line-height: 75px;
    color: #ffffff;
    font-size: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#482cbf+0,6ac6f0+100 */
    background: rgb(72, 44, 191);
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#482cbf', endColorstr='#6ac6f0', GradientType=1);
    border-radius: 100%;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.footer-box .box-icon:before {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    border: 2px solid #ffffff;
    border-radius: 100%;
    z-index: -1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s
}

.footer-box:hover .box-icon {
    color: #5e88fc;
}

.footer-box:hover .box-icon:before {
    background-color: #ffffff;
}

/* End of contact us boxes and icon */
/* =========================================================================================================== */
/* Page Footer */

footer {
    background-image: linear-gradient(to top, #310048, #260e4c, #1a164e, #0c1c4e, #00214c);
    width: 100%;
    height: 100%;
    color: white;
}

.top-footer {
    padding-top: 30px;
}

.hidden1 {
    display: none;
}

.footerTitle {
    text-align: center;
}

.footer-item li {
    margin: 5px;
}

.btm-footer {
    background-color: #220132;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #595959;
    -webkit-box-shadow: 0px -8px 31px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px -8px 31px -10px rgba(0, 0, 0, 1);
    box-shadow: 0px -8px 31px -10px rgba(0, 0, 0, 1);
}

.btm-footer p {
    margin: 5px 0;
}

/* End of Footer */
/* ================================================================================================================ */