body {
    height: 100%;
    width: 100%;
}

/* Top background image slider */
.bgSlider {
    padding: 0;
}

.carousel-item {
    height: 980px;
}

/* Top background shadow overlay */
.shadow-overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .6;
    /* background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
     background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
     background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%); */
    background-image: linear-gradient(to left top, #7a0fac, #6e3bc5, #5d56db, #466ded, #2383fd);
}