.banner-area {
    background: url(../image/blue\ background@4x.png) center;
    background-size: cover;
}

/* Top background image slider */
.bgSlider {
    padding: 0;
}

.carousel-item {
    height: 980px;
}

/* Top background shadow overlay */
.shadow-overlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .4;
    background: #005596;
}

.jumbotron {
    margin-bottom: 0 !important;
}

.h-au-section {
    padding-top: 250px !important;
    padding-bottom: 250px !important;
}

.sectionHeaderContent h5,
.sectionHeaderContent p.phase8-sub-title {
    color: rgb(112, 112, 112);
}

.h-au-content button {
    margin-top: 40px;
}

.header {
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 100%;
}

.header-title {
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
    position: relative;
    color: white;
    font-size: 70px;
    text-align: right;
    top: 350px;
    right: 150px;
}

.headerBtn {
    float: right;
    right: 330px;
    top: 380px;
}

.headerBtn:before,
.headerBtn:after {
    -webkit-transform: skewX(-20deg) !important;
    transform: skewX(-20deg) !important;
}

.carousel-item img {
    -webkit-filter: blur(4px);
    /* Safari 6.0 - 9.0 */
    filter: blur(4px);
}

/* 8Phases */
.phases8-content {
    background-color: rgb(210, 225, 240);
}

.phases8-content img {
    height: 150px;
    width: 500px;
}

.phase8-sub-title {
    margin-bottom: 55px;
}

.image-content {
    width: 100%;
}

.image-left {
    margin-left: 30px;
}

.image-right {
    margin-left: 235px;
}

.image-right-last {
    height: 120px !important;
    margin-left: 235px;
}

.circle-icon {
    display: inline-block;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    background-color: #FFF;
    color: #8931d1;
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    font-weight: 300;
    transition: all 0.3s ease;
    position: absolute;
    z-index: 100;
}

.circle-icon-hover {
    background-image: -moz-linear-gradient(122deg, #8c00ff 0%, #7206ff 100%) !important;
    background-image: -webkit-linear-gradient(122deg, #8c00ff 0%, #7206ff 100%) !important;
    background-image: -ms-linear-gradient(122deg, #8c00ff 0%, #7206ff 100%);
    background-image: linear-gradient(122deg, #8c00ff 0%, #7206ff 100%) !important;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.09) !important;
    color: #FFF !important;
}

.icon-left {
    margin-top: 13px;
    margin-left: 80px;
}

.icon-right {
    margin-top: 13px;
    margin-left: 590px;
}

img.arrow {
    width: 180px;
    height: 400px;
}

img.arrow2 {
    margin-top: 380px;
    width: 180px;
    height: 400px;
}

img.long-arrow {
    margin-top: 200px;
    width: 180px;
    height: 860px;
}

/* =================================================================================================================================================== */